@font-face {
  font-family: "Kyiv Type";
  src: url(https://www.behance.net/gallery/90690285/KyivType-variable-superfamily/modules/530943943) format("truetype");
}

.app {
  background-image: linear-gradient(to left, #63a5c1, #ebf8e1 25%, #ebf8e1 80%, #e6d45f);
  z-index: 500;
  font-family: 'Kyiv Type';
  overflow: hidden;
}
