@font-face {
  font-family: "Kyiv Type";
  src: url(https://www.behance.net/gallery/90690285/KyivType-variable-superfamily/modules/530943943) format("truetype");
}

.app {
  background: radial-gradient(48.64% 46.67% at 50.00% 50.00%, #B5B0A2 0%, rgba(216, 196, 171, 0.00) 100%);
  font-family: 'Kyiv Type';
  overflow: hidden;
}
