.main_div {
  position: relative;
  min-height: 80vh;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 10vh;
  padding-top: 5vh;
  text-align: center;
  border-radius: 35px;
  background: #252525;
  box-shadow: inset 5px 5px 10px #1b1b1b,
              inset -5px -5px 10px #2f2f2f;
  color: #fefefeaf;
}

.background_block {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000041;
  top: -15vh;
  left: -10vw;
}

.content_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 7vw;
  font-size: 1rem;
}

.content_block div img {
  width: 8vw;
  border-radius: 15px;
}

.invitation {
  position: absolute;
  width: 100%;
  bottom: 15%;
  text-align: center;
}

.description a {
  text-decoration: none;
  color: inherit;
  transition: transform .3s;
  border-bottom: solid #fefefeaf 1px;
}

.description a:hover {
  transform: scale(1.2);
}

.social_btn {
  background: #000;
  background-size: 400%;
  border: 1px solid #fefefeaf;
  padding: 5px;
  position: relative;
  width: 8.3em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  font-weight: 500;
  cursor: pointer;
}

.social_btn p a {
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  margin: 0;
  padding: 0;
  transition: .5s;
  text-decoration: none;
  color: #fefefeaf;
}

.social_btn svg {
  position: absolute;
  top: 0.45em;
  right: -1em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fefefeaf
}

.social_btn:hover p a {
  left: 0.6em;
  color: #fefefeaf
}

.social_btn:hover svg {
  opacity: 1;
}

.social_btn:hover {
  background-color: #d256fcc2;
}
