.main_div {
  position: relative;
  min-height: 80vh;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 10vh;
  padding-top: 5vh;
  text-align: center;
  border-radius: 35px;
  background: #252525;
  box-shadow: inset 5px 5px 10px #1b1b1b,
              inset -5px -5px 10px #2f2f2f;
  color: #ffffffda;
}

.content_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 7vw;
  font-size: 1rem;
}

.content_block div img {
  width: 8vw;
  border-radius: 15px;
}

.invitation {
  position: absolute;
  width: 100%;
  bottom: 15%;
  text-align: center;
}

.description a {
  text-decoration: none;
  color: inherit;
  transition: transform .3s;
  border-bottom: solid #fefefeaf 1px;
}

.description a:hover {
  transform: scale(1.2);
}

.social_btn {
  background: #000;
  background-size: 400%;
  border: 1px solid #fefefeaf;
  padding: 5px;
  position: relative;
  width: 8.3em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  font-weight: 500;
  cursor: pointer;
}

.social_btn p a {
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  margin: 0;
  padding: 0;
  transition: .5s;
  text-decoration: none;
  color: #ffffffda;
}

.social_btn svg {
  position: absolute;
  top: 0.45em;
  right: -1em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fefefeaf
}

.social_btn:hover p a {
  left: 0.6em;
  color: #ffffffda;
}

.social_btn:hover svg {
  opacity: 1;
}

@media (orientation: portrait) and (min-height: 500px) and (max-height: 600px) {
  .main_div {
    height: 180vh;
  }

  .content_block div img {
    width: 12vw;
  }

  .content_block {
    flex-direction: column;
  }

  .invitation {
    bottom: 3%;
    width: 80%;
    left: 1em;
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) and (min-height: 600px) and (max-height: 699px) {
  .main_div {
    height: 160vh;
  }

  .content_block div img {
    width: 12vw;
  }

  .content_block {
    gap: 10vh;
    flex-direction: column;
  }

  .invitation {
    bottom: 3%;
    width: 80%;
    left: 1em;
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) and (min-height: 700px) and (max-height: 800px) {
  .main_div {
    height: 160vh;
  }

  .content_block div img {
    width: 12vw;
  }

  .content_block {
    gap: 10vh;
    flex-direction: column;
  }

  .invitation {
    bottom: 3%;
    width: 80%;
    left: 1em;
    font-size: 1.5rem;
  }
}
