.main_div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  font-family: 'Cormorant Garamond', serif;
}

.background_block {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background_block .background_img {
  width: 100%;
  border-radius: 15px;
}

.content_block {
  position: absolute;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo_block {
  padding-top: 5vh;
}

.logo_block img {
  width: 30vw;
}

.caption_block {
  padding-top: 10vh;
}

.caption_block img {
  width: 90vw;
}

@media (orientation: landscape) and (min-width: 750px) and (max-width: 850px) and (min-height: 550px) and (max-height: 650px) {}

@media (orientation: portrait) and (min-height: 500px) and (max-height: 900px) {
  .background_block .background_img {
    min-width: 300%;
    height: 100%;
  }

  .logo_block img {
    width: 50vw;
  }

  .caption_block img {
    width: 170vw;
  }
}
