.main_div {
  color: #6B523B;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.speaker_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4rem;
  font-size: 1.1rem;
}

.speakerName a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  transition: all .4s;
}

.speakerName a svg {
  transition: all .4s;
}

.speakerName a h1 {
  font-size: 1.5rem;
}

.speakerName a:hover svg {
  transform: scale(1.15);
}

.speaker_block img {
  width: 10vw;
}

.topic {
  width: 23vw;
  text-align: center;
}

.toggler_text {
  cursor: pointer;
}

.video_block iframe {
  border-radius: 5px;
}

.speakersMapping {
  display: flex;
  gap: 10vw;
  align-items: flex-start;
  border: solid 2px #6B523B;
  padding: 3em;
  border-radius: 15px;
  margin-bottom: 6vh;
}

@media (orientation: landscape) and (min-width: 1350px) and (max-width: 1400px) {
  .speakersMapping {
    padding: 1.5em;
  }
}

@media (orientation: portrait) and (min-height: 560px) and (max-height: 900px) {
  .main_div {
    gap: 0;
  }

  .main_div h1 {
    font-size: 1.5rem;
  }

  .speakerName a {
    gap: 3vw;
  }

  .speaker_block h1 {
    font-size: 1.3rem;
  }

  .speaker_block img {
    width: 35vw;
  }

  .speaker_block {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .topicName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vw;
  }

  .video_block iframe {
    width: 300px;
    height: 168.75px;
  }

  .speakersMapping {
    flex-direction: column;
    border: none;
    gap: 10vh;
  }

  .topic {
    width: 75vw;
  }
}

@media (orientation: portrait) and (min-height: 650px) and (max-height: 900px) {
  .video_block iframe {
    width: 350px;
    height: 196.88px;
  }
}
